@import"reset.css";

/* font-family: 'Inter',
        sans-serif;
    font-family: 'Merriweather',
        serif; */

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    background-color: black;
}

.header {
    top: 0;
    width: 100%;
    height: 90px;
}

.header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url(../assets/background/background-hero.png);
    background-repeat: no-repeat;
    background-position: center 0;
}

.header__logo {
    margin: 20px;
    width: 50px;
    height: 50px;
    background: url(../assets/svg/icons/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.header__logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.nav__bar {
    display: inline-flex;
    margin-right: 20px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    padding: 0 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: white;
}

.nav__link:hover {
    color: #BDAE82;
}

.language__list {
    display: flex;
    justify-content: space-between;
    width: 70px;
}

.language__link-ru::before {
    content: '/';
    margin-right: 8px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

.language__link {
    text-align: center;
    text-decoration: none;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    color: white;
}

.language__link:hover {
    color: #BDAE82;
}

.hero {
    height: 820px;
    background: url(../assets/background/background-hero.png) no-repeat;
    background-position: center -90px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    height: 330px;
    width: 500px;
    padding-top: 160px;
    padding-left: 80px;
    left: 79.99999999999997px;
    top: 249.99999999999994px;
    border-radius: 0px;
}



.hero__name {
    margin-bottom: 10px;
    font-family: Merriweather;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 120px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.hero__description {
    margin-bottom: 25px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.hero__button {
    height: 55px;
    width: 220px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: #BDAE82;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;

}

/***************Skills**************/
.skills {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.title-container,
.portfolio__container,
.video-container,
.price__container {
    margin: 100px auto 60px;
    width: 50%;
    overflow-x: hidden;
}

.skills__title,
.portfolio__title,
.video__title,
.price__title {
    position: relative;
    font-family: "Merriweather";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
    color: #BDAE82;
}

.skills__title::before,
.portfolio__title::before,
.video__title::before,
.price__title::before {
    display: block;
    width: 274px;
    content: '';
    position: absolute;
    border-bottom: 3px solid;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
    top: 50%;
    left: 0px;
}

.skills__title::after,
.portfolio__title::after,
.video__title::after,
.price__title::after {
    display: block;
    width: 274px;
    content: '';
    position: absolute;
    border-bottom: 3px solid;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
    top: 50%;
    right: 0px;
}

.skills__container {
    padding-left: 20px;
    padding-right: 20px;
}

.skills__cards {
    display: flex;
    gap: 40px;
    padding-left: 32px;
}

.skills__card {
    width: 320px;
    height: 240px;
}

.skills__card--photo {
    background: url(../assets/svg/icons/camera.svg) top center no-repeat;
    background-size: 62px 50px;
    fill: #BDAE82;
}

.skills__card--video {
    background: url(../assets/svg/icons/video.svg) top center no-repeat;
    background-size: 62px 50px;
    fill: #BDAE82;
}

.skills__card--retouch {
    background: url(../assets/svg/icons/image.svg) top center no-repeat;
    background-size: 62px 50px;
    fill: #BDAE82;
}

.skills__card--audio {
    background: url(../assets/svg/icons/audio.svg) top center no-repeat;
    background-size: 62px 50px;
    fill: #BDAE82;
}

.skills__card-title {
    width: 280px;
    margin-top: 100px;
    margin-bottom: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

.skills__card-description {
    width: 280px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: " Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

/*************Portfolio************/


.portfolio__title::after,
.portfolio__title::before {
    width: 232px;
}

.season_buttons {
    display: flex;
    justify-content: center;
}

.season_button {
    height: 55px;
    width: 220px;
    left: 272px;
    top: 240px;
    border: 1px solid #BDAE82;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #BDAE82;
    background-color: black;
}

.season_button:hover {
    background-color: #BDAE82;
    color: black;
}

.portfolio__cards {
    display: grid;
    grid-template-columns: 450px 450px 450px;
    grid-gap: 25px;
    margin: 65px 20px 0 20px;

}

.portfolio__card {
    width: 450px;
    height: 560px;
    background: center no-repeat;
}

.portfolio__card--love {
    background: url(../assets/photos/photo-love.png);
}

.portfolio__card--horse {
    background: url(../assets/photos/photo-horse.png);
}

.portfolio__card--child {
    background: url(../assets/photos/photo-child.png);
}

.portfolio__card--forest {
    background: url(../assets/photos/photo-forest.png);
}

.portfolio__card--couple {
    background: url(../assets/photos/photo-couple.png);
}

.portfolio__card--leaves {
    background: url(../assets/photos/photo-leavs.png);
}

/*******video************/
.video__title ::before,
.video__title ::after {
    width: 237px;
}

.video_player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 705px;
    background: url(../assets/background/background-video-player.png) center no-repeat;
}

/************************price*********/
.price__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    gap: 25px;
}

.price__card {
    width: 450px;
    height: 505px;
    border: 2px solid #BDAE82;
}

.price__card-title {
    padding-top: 43px;
    padding-bottom: 20px;
    font-family: "Merriweather";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.price__card-price {
    padding-bottom: 20px;
    font-family: "Merriweather";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: #BDAE82;
}

.span {
    display: block;
}

.price__card-description {
    display: block;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.price__card-button {
    margin: 40px 115px 43px;
    height: 55px;
    width: 219.99996948242188px;
    left: 115px;
    top: 407px;
    border-radius: 0px;
    background-color: #BDAE82;
}

/*****************Contact*************/

.contacts {
    height: 700px;
    background: url(../assets/background/background-contacts.png) center no-repeat;
}

.contacts__container {
    height: 445px;
    width: 450px;
    border-radius: 0px;
}

.contacts__form {
    padding-top: 60px;
    padding-left: 970px;
}

.contacts__title {
    width: 450px;
    padding-bottom: 40px;
    font-family: "Merriweather";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    color: #BDAE82;
}

input {
    height: 50px;
    width: 442.5px;
    margin-bottom: 20px;
    border: 2px solid #BDAE82;
    background: none;
}

#msg {
    resize: none;
    border: 2px solid #BDAE82;
    background: none;
}

::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
}

.form__button {
    height: 55px;
    width: 220px;
    margin-top: 30px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background-color: #BDAE82;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
}

/******************footer************/


.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding-left: 20px;
    padding-right: 20px;
}

.copyripht_text,
.school_text {
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.social-icons {
    display: inline-flex;
    justify-content: space-between;
    width: 188px;
    height: 50px;
}

.icon {
    height: 32px;
    width: 32px;
    left: 0px;
    top: 9px;
    border-radius: 0px;
    fill: #FFFFFF;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.icon:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.icon_inst {
    background: url(../assets/svg/social/inst.svg);
}

.icon_fb {
    background: url(../assets/svg/social/fb.svg)
}

.icon_tw {
    background: url(../assets/svg/social/tw.svg);
}

.icon_pinterest {
    background: url(../assets/svg/social/pinterest.svg);
}